body{
  display: flex;
}
div{
  font-size: 18px;
}
img{
  width: 30px;
  border-radius: 20px;
}
button{
  margin: 10px;
  font-size: 15px;
  border-radius: 4px;
}
input{
  width: 250px;
  height: 30px;
}


.message{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px;
  border: 2px solid black;
}

.message_text{
  font-size: 18px;
}

.button{
  width: 200px;
  height: 200px;
  border: 2px solid black;
 text-align: center;
}