body {
  
}
.App {
  text-align: center;
  background-size: cover; /* Масштабирование фотографии на всю область фона */
  background-position: center; /* Позиционирование фотографии по центру */
  /* transition: all 1s ease; */
}
/* My styles */
h1{
  font-size: 37px;
  font-weight: 400;
}
p{
  font-size: 30px;
}
img{
  width: 30px;
  margin-right: 10px;
}

.container-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content:center; /* Центрируем карточки на горизонтальной оси */
}
.box-weather{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 550px;
  margin: 30px; /* Отступы между карточками */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-size: 30px;
  background-color:rgba(255, 255, 255, 0.794);
  transition: 0.3s;
}
.card:hover{
  box-shadow: 2px 5px 25px -3px rgba(180,180,180,0.25);;
}
.card p{
  margin-bottom: 7px;
}

.box-parameter{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.box-parameter div{
  margin:27px;
  margin-bottom:10px;
  margin-top: 10px;
  width: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon-weather{
  width: 128px;
  height: 128px;
}
.temp{
  color:#1f74ed;
  font-size: 32px;
}

.search{
  display:block;
  justify-content:center;
  width: 100%;
}

.input-search{
  margin-top: 10px;
  width: 580px;
  height: 50px;
  border: 2px solid #5F5FE3;
  background-color:white;
  border-radius: 5px;
  font-size: 30px;
  padding-left: 5px;
  transition: all  0.3s ease;

}
.error{
  padding-top: 240px;
  padding-bottom: 240px;
  font-size: 30px;
  text-align:center;
}
.btn-search{
  width: 140px;
  height: 40px;
  border: 2px solid #5F5FE3;
  border-radius: 5px;
  background-color: #4A66E6;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  display: inline-block; /* Делаем кнопку блочным элементом, чтобы можно было управлять ее размерами */
  position: relative; /* Устанавливаем позиционирование кнопки как относительное */
  padding-right: 10px;
  transition: all 1s ease;
  
}
.btn-search img{
  position: absolute; /* Устанавливаем позиционирование изображения как абсолютное */
  top: 50%; /* Размещаем изображение по вертикали на середине кнопки */
  transform: translateY(-50%); /* Корректируем позицию изображения, чтобы оно было выровнено по вертикали */
}
.btn-search:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Подсветка */
  transform: scale(1.05); /* Увеличение на 5% */
}
.btn-location{
  width: 45px;
  height: 45px;
  background-color: #4A66E6;
  color: white;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease;
  margin-top:20px;
  margin-left: 20px;
}
.btn-location img{
  padding-left: 7.5px;
}
.btn-location:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Подсветка */
  transform: scale(1.05); /* Увеличение на 5% */
}
.btn-changeTheme{
  width: 45px;
  height: 45px;
  background-color: #4A66E6;
  color: white;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 7.5px;
}

.btn-changeTheme:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Подсветка */
  transform: scale(1.05); /* Увеличение на 5% */
}
.tg{
  text-decoration: none;
  color:black;
  font-size: 20px;
  transition: font-size 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
.tg:hover{
  color: #1f74ed; /* Цвет текста, например, золотой (#ffd700) */
  font-size:22px;
  text-shadow: 0 0 3px #1f74ed;
}

/* Dark theme styles  */
.dark-theme {
  background-color: #000;
  color: #fff;
}
.dark-theme .input-search{
  background-color: rgba(12, 7, 7, 0.9);
}
.dark-theme .card{
  background-color:rgba(12, 7, 7, 0.794); 
}
.dark-theme .tg{
  color: white;
}
.dark-theme .tg:hover{
  color:#ffd700; /* Цвет текста, например, золотой (#ffd700) */
  text-shadow: 0 0 5px #ffd700;
  font-size:22px;
}



/* Media requests  */
@media (max-width: 950px) {
  .container-weather{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width:740px) {
  .input-search{
    width: 400px;
    height: 50px;
  }
}
@media (max-width:640px) {
  .btn-search{
    margin-top: 10px;
  }
  .card{
    width: 350px;
    margin: 10px;
  }
  .box-parameter div{
    font-size: 20px;
    /* border: 2px solid #4A66E6;
    border-radius: 10px;*/
    /* если нужны будут границы то разкоментируй, но тогда уменьше margin хотя бы до 10px */
    margin: 16px;
    text-align:center;
  }
}


@media (max-width:420px) {
  .input-search{
    width: 320px;
    font-size: 20px;
  }
  .card{
    width: 320px;
  }
  /* .btn-location{
    margin-top: 60px;
  } */
}

@media (max-width:370px) {
  .input-search{
    width: 270px;
    font-size: 20px;
  }
  .card{
    width: 250px;
  }
  .box-parameter div{
    margin: 10px;
    font-size: 14px;
  }
}

@media (max-width:300px) {
  .input-search{
    width: 200px;
    font-size: 15px;
  }
  .card{
    width: 180px;
  }
  .box-parameter div{
    margin: 9px;
    font-size: 11px;
  }
}
